.idea/
config/config.json
config/ultralytics/
storage/
system/database.sqlite
venv/
__pycache__/*
routes/__pycache__/*
system/__pycache__/*
system/auth/__pycache__/*
system/core/__pycache__/*
system/database.sqlite-shm
system/database.sqlite-wal
system/datasets/__pycache__/*
system/db/models/__pycache__/*
system/export/__pycache__/*
system/managers/__pycache__/*
system/models/__pycache__/*
system/object_detection/__pycache__/*
system/routes/__pycache__/*
system/services/__pycache__/*
system/tasks/__pycache__/*
system/training/__pycache__/*
system/ui/__pycache__/*
system/utils/__pycache__/*
templates/__pycache__/*