# Weights and models outside config
*.pt
*.onnx
*.engine
*.bin
*.xml
# Global pycache
**/__pycache__/
*.py[cod]

.idea/
config/config.json
config/ultralytics/
storage/
system/database.sqlite*
*.sqlite*
*.db
venv/