#
# To install requirements run:
#   pip install -r requirements.txt
#
# To manually install requirements with CUDA run:
#   pip install torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu118
#
# To manually install requirements with TensorRT run:
#   !!! Replace ${TENSORRT_PATH} with the path to TensorRT on your system,
#       for example: C:\Program Files\NVIDIA GPU Computing Toolkit\TensorRT\v8.6.1.6
#       or set the environment variable TENSORRT_PATH
#   pip install "${TENSORRT_PATH}\graphsurgeon\graphsurgeon-0.4.6-py2.py3-none-any.whl"
#   pip install "${TENSORRT_PATH}\uff\uff-0.6.9-py2.py3-none-any.whl"
#   pip install "${TENSORRT_PATH}\onnx_graphsurgeon\onnx_graphsurgeon-0.3.12-py2.py3-none-any.whl"
#   pip install "${TENSORRT_PATH}\python\tensorrt-8.6.1-cp311-none-win_amd64.whl"
#

# General -------------------------------------
filterpy~=1.4.5
Flask-HTTPAuth~=4.8
Flask-SocketIO~=5.4
Flask~=3.1
imutils~=0.5.4
MarkupSafe~=2.1.3
matplotlib~=3.8
numpy~=1.26
opencv-python~=4.10
pyodbc~=5.1
psutil~=6.1.1
scikit-image~=0.22
shapely~=2.0.2
SQLAlchemy~=2.0.35
#mysqlclient==2.1.1 # To work with MySQL
ultralytics~=8.3
Werkzeug~=3.0

# Export --------------------------------------
# coremltools>=7.0  # CoreML export
onnx~=1.16  # ONNX export
onnxsim~=0.4.1  # ONNX simplifier
onnxslim~=0.1.34  # ONNX simplifier
onnxruntime-gpu~=1.20.1  # ONNX simplifier
tensorrt==8.6.1 # TensorRT export
nvidia-pyindex  # TensorRT export
# nvidia-tensorrt  # TensorRT export
# scikit-learn==0.19.2  # CoreML quantization
# tensorflow>=2.4.1  # TF exports (-cpu, -aarch64, -macos)
# tflite-support
# tensorflowjs>=3.9.0  # TF.js export
# openvino-dev>=2023.0  # OpenVINO export

# PyTorch and related packages (uncomment or use manual installation)
# --index-url https://download.pytorch.org/whl/cu118
# torch==2.3.1
# torchvision==0.18.1
# torchaudio==2.3.1