{# Counter settings form #}
<!-- START: Counter settings form -->
{% import 'partials/forms.html' as forms %}
<form class="counter-settings-form" id="counterSettingsForm" method="post"
      action="{{ url_for('counters.counter_settings_save', location=location) }}"
      data-location="{{ location }}">
    <div class="cv-form-panel counter-settings-form__panel">
        {% for sub_key, sub_value in detection.items() %}
            {{ forms.generate_form_fields(sub_key, sub_value, 'detections-' ~ location ~ '-') }}
        {% endfor %}
    </div>
</form>
<!-- END: Counter settings form -->