<div class="row d-none d-md-flex">
    <div class="col-4">
        <div class="border border-2 border-danger-subtle rounded-3 p-1 mx-1 text-center small">
            В поле "Брак" указывается количество бракованных изделий.<br>
            Значение в поле "Брак" уменьшает количество "Всего".
        </div>
    </div>
    <div class="col-8">
        <div class="border border-2 border-warning-subtle rounded-3 p-1 mx-1 text-center small">
            В поле "Корректировка" может быть указано как положительное, так и отрицательное значение.<br>
            Корректировка необходима например в случаях когда изготовления снимались с линии, если программа посчитала кол-во
            некорректно и т.п.
        </div>
    </div>
</div>