{# Generate form fields from dict #}
{% macro generate_form_fields(key, value, prefix='') %}
    {% set field_id = prefix ~ key %}
    {% if value is mapping %}
        <div class="card border-secondary mb-3">
            <h6 class="card-header bg-secondary text-light py-1">{{ key.replace('_', ' ')|title }}</h6>
            <div class="card-body">
                {% for sub_key, sub_value in value.items() %}
                    {{ generate_form_fields(sub_key, sub_value, field_id ~ '-') }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="mb-3">
            <label for="{{ field_id }}" class="form-label">{{ key.replace('_', ' ')|title }}</label>
            {% if value is string %}
                <input type="text" id="{{ field_id }}" name="{{ field_id }}" value="{{ value }}" class="form-control" placeholder="">
            {% elif value is boolean %}
                {#<div class="form-check form-switch">
                    <input id="{{ field_id }}" name="{{ field_id }}" class="form-check-input" type="checkbox" role="switch" {% if value %}checked{% endif %}>
                    <label class="form-check-label" for="{{ field_id }}">{{ key }}</label>
                </div>#}
                <div>
                    <input type="radio" class="btn-check" value="on" name="{{ field_id }}" id="{{ field_id }}_yes" autocomplete="off"
                           {% if value == true %}checked{% endif %}>
                    <label class="btn btn-sm btn-outline-success" for="{{ field_id }}_yes">Вкл</label>

                    <input type="radio" class="btn-check" value="off" name="{{ field_id }}" id="{{ field_id }}_no" autocomplete="off"
                           {% if value == false %}checked{% endif %}>
                    <label class="btn btn-sm btn-outline-danger" for="{{ field_id }}_no">Выкл</label>
                </div>
            {% elif value is number %}
                <input type="number" id="{{ field_id }}" name="{{ field_id }}" value="{{ value }}" class="form-control" placeholder="">
            {% else %}
                <input type="text" id="{{ field_id }}" name="{{ field_id }}" value="{{ value }}" class="form-control" placeholder="">
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{# Input fields #}
{% macro input(name, value='', label='', type='text') -%}
    <div class="mb-3">
        {% if label %}
            <label for="{{ name }}" class="form-label">{{ label }}</label>
        {% endif %}
        <input type="{{ type }}" value="{{ value|e }}" name="{{ name }}" id="{{ name }}" class="form-control">
    </div>
{%- endmacro %}

{# Textarea fields #}
{%- macro textarea(name, value='', label='', rows=10, cols=40) -%}
    <div class="mb-3">
        {% if label %}
            <label for="{{ name }}" class="form-label">{{ label }}</label>
        {% endif %}
        <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}" id="{{ name }}" class="form-control">{{ value|e }}</textarea>
    </div>
{%- endmacro %}

{# Button #}
{%- macro button(label, type='submit', color='primary') -%}
    <button {% if type %}type="{{ type }}"{% endif %} class="btn btn-{{ color }}">{{ label }}</button>
{%- endmacro %}