{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-info">
                    <div class="card-header bg-info text-white">
                        <h4 class="mb-0"><i class="bi bi-question-circle"></i> 404 - Page Not Found</h4>
                    </div>
                    <div class="card-body">
                        <p class="lead">{{ trans('The page you are looking for does not exist.') }}</p>
                        <p>{{ trans('The requested URL was not found on this server.') }}</p>
                        <hr>
                        <a href="{{ url_for('main.index') }}" class="btn btn-primary">{{ trans('Go to Home') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
