{% extends "base.html" %}

{% block title %}{{ trans('Internal Server Error') }}{% endblock %}

{% block content %}
    {% set extra %}
        {% if error_message %}
            <div class="error-page__note error-page__note--warning text-start">
                <strong>{{ trans('Error') }}:</strong> {{ error_message }}
            </div>
        {% endif %}
        {% if traceback and config.get('general.debug', False) %}
            <details class="error-page__details text-start mt-3">
                <summary>{{ trans('Show Details') }}</summary>
                <pre class="error-page__pre"><code>{{ traceback }}</code></pre>
            </details>
        {% endif %}
    {% endset %}
    {% with error_code='500', error_title=trans('Internal Server Error'), tone='danger', message=trans('An unexpected error occurred on the server.'), extra_html=extra %}
        {% include 'partials/error_card.html' %}
    {% endwith %}
{% endblock %}
