{% extends 'base.html' %}

{% block title %}{{ title.title() }}{% endblock %}

{% block content %}
    <div class="row mb-3">
        <!-- START: Left block -->
        <div class="col-12 col-lg-9 d-flex justify-content-center position-relative my-2">
            <div class="img-container">
                <img id="video_feed" class="text-center rounded" src="{{ url_for('get_frames', location=location) }}" alt=""/>
            </div>

            <div class="{{ 'd-flex' if is_paused else 'd-none' }} justify-content-center align-items-center rounded-end-3 pause_display"
                 id="pause_display">
                <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor" class="bi bi-pause"
                     viewBox="0 0 16 16">
                    <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5m4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5"/>
                </svg>
            </div>
        </div>
        <!-- END: Left block -->

        {% include 'partials/counter_sidebar_right.html' %}
    </div>
{% endblock %}

{% block footer %}
    {% if(items and items is not none) %}
        <link href="{{ url_for('static', filename='assets/bootstrap-select-1.14/css/bootstrap-select.min.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='assets/bootstrap-select-1.14/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/bootstrap-select-1.14/js/i18n/defaults-ru_RU.min.js') }}"></script>
    {% endif %}

    <script>
        $(function () {
            //---------------------------------------------------------------------------
            // Socket IO
            //---------------------------------------------------------------------------

            // Counter get handler
            socket.on('{{ location }}_count', function (data) {
                const defect_count = Math.max(parseInt($("#defect_keyboard input").val(), 10) || 0, 0);
                const correct_count = parseInt($("#correct_keyboard input").val(), 10) || 0;

                const updateCount = (selector, count) => {
                    $(selector).html(Math.max(count - defect_count + correct_count, 0));
                };

                updateCount('#total_count', data.total || 0);
                updateCount('#current_count', data.current || 0);

                $('#defect_count').html(defect_count + data.defect || 0);
                $('#correct_count').html(correct_count + data.correct || 0);
            });

            // Notification receipt handler
            socket.on('{{ location }}_notification', function (data) {
                if (data.message.length > 0) {
                    showToast(data.message, data.type);
                }
            });

            // Counter status handler
            socket.on('counter_status_event', function (data) {
                if (data.data.location === '{{ location }}') {
                    switch (data.data.status) {
                        case 'paused':
                            $('#btn_pause').removeClass('btn-outline-secondary').addClass('btn-warning');
                            $('#btn_start').removeClass('btn-outline-secondary').addClass('btn-info');
                            $('#pause_display').removeClass('d-none').addClass('d-flex');
                            break;
                        case 'started':
                            $('#btn_pause').removeClass('btn-warning').addClass('btn-outline-secondary');
                            $('#btn_start').removeClass('btn-info').addClass('btn-outline-secondary');
                            $('#pause_display').removeClass('d-flex').addClass('d-none');
                            break;
                    }
                }
            });

            //---------------------------------------------------------------------------
            // Bootstrap Select
            //---------------------------------------------------------------------------

            //$('.selectpicker').selectpicker();

            //---------------------------------------------------------------------------
            // Keyboard
            //---------------------------------------------------------------------------

            $('.input-plus').on('click', function () {
                let $input = $(this).parent().find('input');
                let value = parseInt($input.val());
                let validate_value = true;
                if ($input.attr('max') !== undefined) {
                    validate_value = value < parseInt($input.attr('max'));
                }
                if (!isNaN(value) && validate_value) {
                    $input.val(value + 1);
                }
            });

            $('.input-minus').on('click', function () {
                let $input = $(this).parent().find('input');
                let value = parseInt($input.val());
                let validate_value = true;
                if ($input.attr('min') !== undefined) {
                    validate_value = value > parseInt($input.attr('min'));
                }
                if (!isNaN(value) && validate_value) {
                    $input.val(value - 1);
                }
            });

            $('#correct_clear').on('click', function () {
                $('#correct_keyboard input').val(0);
            });

            $('.keyboard button').on('click', function () {
                let $this = $(this);
                let $input = $('#' + $this.parent().parent().data('input-id') + ' input');
                let value = $this.data('value');
                let input_val = $input.val();
                input_val = input_val.replace(/[^0-9\-]/g, '');

                if ($this.hasClass('reset')) {
                    $input.val(0);
                    return;
                }

                if (value === '-') {
                    input_val = -(input_val);
                } else {
                    input_val = input_val + value;
                }

                if (input_val > 999999 || input_val < -999999) {
                    return;
                }

                $input.val(parseInt(input_val));
            });

            //---------------------------------------------------------------------------
            // Form buttons
            //---------------------------------------------------------------------------

            $('#btn_save').on('click', function () {
                let item_no = $('#item').val();
                let defect_count = $('#defect_keyboard input').val();
                let correct_count = $('#correct_keyboard input').val();

                $.ajax({
                    url: '{{ url_for('save_count', location=location) }}',
                    method: 'post',
                    data: {
                        'item_no': item_no,
                        'correct_count': parseInt(correct_count),
                        'defect_count': parseInt(defect_count)
                    },
                    success: function (data) {
                        if (!data) {
                            data = 0;
                        }
                        $("#total_count").html(data.total_count);
                        $("#defect_keyboard input").val(data.defect_count);
                        $("#correct_keyboard input").val(data.correct_count);
                    }
                });
            });

            $('#btn_reset').on('click', function () {
                $.ajax({
                    url: '{{ url_for('reset_count', location=location) }}',
                    method: 'get',
                    data: {},
                    success: function (data) {
                        if (!data) {
                            data = 0;
                        }
                        $("#total_count").html(data.total_count);
                        $("#defect_keyboard input").val(data.defect_count || 0);
                        $("#correct_keyboard input").val(data.correct_count || 0);
                    }
                });
            });

            $('#btn_reset_current').on('click', function () {
                let item_no = $('#item').val();
                let defect_count = $('#defect_keyboard input').val();
                let correct_count = $('#correct_keyboard input').val();

                $.ajax({
                    url: '{{ url_for('reset_count_current', location=location) }}',
                    method: 'post',
                    data: {
                        'item_no': item_no || '',
                        'correct_count': parseInt(correct_count) || 0,
                        'defect_count': parseInt(defect_count) || 0
                    },
                    success: function (data) {
                        if (!data) {
                            data = 0;
                        }
                        $("#current_count").val(data.current_count);
                        $("#defect_keyboard input").val(data.defect_count || 0);
                        $("#correct_keyboard input").val(data.correct_count || 0);
                    }
                });
            });

            //---------------------------------------------------------------------------
            // Form buttons 2
            //---------------------------------------------------------------------------
            $('#btn_start').on('click', function () {
                $.ajax({
                    url: '{{ url_for('start_count', location=location) }}',
                    method: 'get',
                    data: {},
                    success: function () {
                        $('#btn_pause').removeClass('btn-warning').addClass('btn-outline-secondary');
                        $('#btn_start').removeClass('btn-info').addClass('btn-outline-secondary');
                        $('#pause_display').removeClass('d-flex').addClass('d-none');
                    }
                });
            });

            $('#btn_pause').on('click', function () {
                $.ajax({
                    url: '{{ url_for('pause_count', location=location) }}',
                    method: 'get',
                    data: {},
                    success: function () {
                        $('#btn_pause').removeClass('btn-outline-secondary').addClass('btn-warning');
                        $('#btn_start').removeClass('btn-outline-secondary').addClass('btn-info');
                        $('#pause_display').removeClass('d-none').addClass('d-flex');
                    }
                });
            });

            {#$('#btn_stop').on('click', function () {
                $.ajax({
                    url: '{{ url_for('stop_count', location=location) }}',
                    method: 'get',
                    data: {},
                    success: function () {
                        //$("#total_count").html(data.total_count);
                    }
                });
            });#}
        });
    </script>
{% endblock %}