{% extends 'base.html' %}

{% block title %}{{ title.title() }}{% endblock %}

{% block content %}
    <div class="row d-flex flex-wrap align-items-stretch justify-content-center position-relative vh-100 pb-5">
        <!-- START: Top block -->
        <div class="d-flex flex-column text-center col-12 col-md-6 border-bottom border-end">
            <div class="display-5 text-muted">{{ location_in_label|title|striptags }}</div>
            <div class="display-1 current_count_txt_multi current_count_{{ location_in|slug }}">0</div>
        </div>

        <div class="d-flex flex-column text-center col-12 col-md-6 border-bottom">
            <div class="display-5 text-muted">{{ location_out_label|title|striptags }}</div>
            <div class="display-1 current_count_txt_multi current_count_{{ location_out|slug }}">0</div>
        </div>

        <div class="d-flex flex-column text-center col-12 col-md-6 border-bottom border-end">
            <div class="display-5 text-muted">
                <span class="d-inline d-md-none">{{ location_in_label|title|striptags }}, </span>{{ trans('Total:') }}
            </div>
            <div class="display-1 total_count_txt text-muted total_count_{{ location_in|slug }}">0</div>
        </div>

        <div class="d-flex flex-column text-center col-12 col-md-6 border-bottom">
            <div class="display-5 text-muted">
                <span class="d-inline d-md-none">{{ location_out_label|title|striptags }}, </span>{{ trans('Total:') }}
            </div>
            <div class="display-1 total_count_txt text-muted total_count_{{ location_out|slug }}">0</div>
        </div>
        <!-- END: Top block -->

        <!-- START: Bottom block -->
        <div class="d-flex align-items-stretch flex-wrap text-center col-12 col-md-6 border-end border-bottom py-3">
            <div class="d-inline d-md-none w-100 display-6">{{ location_in_label|title|striptags }}:</div>
            <button class="btn btn-primary btn-lg col mb-3 m-1 btn_reset_current fs-2"
                    data-location="{{ location_in }}">{{ trans('New batch') }}</button>
            {#<button class="btn btn-success col mb-3 m-1 btn_save fs-2"
                        data-location="{{ location_in }}">{{ trans('Save') }}</button>#}
            <button class="btn btn-danger btn-lg col mb-3 m-1 btn_reset fs-2"
                    data-location="{{ location_in }}">{{ trans('Reset') }}</button>
        </div>

        <div class="d-flex align-items-stretch flex-wrap text-center col-12 col-md-6 py-3 border-bottom">
            <div class="d-inline d-md-none w-100 display-6">{{ location_out_label|title|striptags }}:</div>
            <button class="btn btn-primary btn-lg col mb-3 m-1 btn_reset_current fs-2"
                    data-location="{{ location_out }}">{{ trans('New batch') }}</button>
            {#<button class="btn btn-success col mb-3 m-1 btn_save fs-2"
                        data-location="{{ location_out }}">{{ trans('Save') }}</button>#}
            <button class="btn btn-danger btn-lg col mb-3 m-1 btn_reset fs-2"
                    data-location="{{ location_out }}">{{ trans('Reset') }}</button>
        </div>
        <!-- END: Bottom block -->
    </div>
{% endblock %}

{% block footer %}
    <script>
        $(function () {
            //---------------------------------------------------------------------------
            // Socket IO
            //---------------------------------------------------------------------------

            // Counter IN get handler
            socket.on('{{ location_in }}_count', function (data) {
                let current_count = Math.max(0, parseInt(data.current));
                let total_count = data.total > 0 ? Math.max(0, parseInt(data.total)) : 0;

                $('.current_count_{{ location_in|slug }}').html(current_count);
                $('.total_count_{{ location_in|slug }}').html(total_count);
            });

            // Counter OUT get handler
            socket.on('{{ location_out }}_count', function (data) {
                let current_count = Math.max(0, parseInt(data.current));
                let total_count = data.total > 0 ? Math.max(0, parseInt(data.total)) : 0;

                $('.current_count_{{ location_out|slug }}').html(current_count);
                $('.total_count_{{ location_out|slug }}').html(total_count);
            });

            // Notification receipt handler
            socket.on('{{ location }}_notification', function (data) {
                if (data.message.length > 0) {
                    showToast(data.message, data.type);
                }
            });

            //---------------------------------------------------------------------------
            // Form buttons
            //---------------------------------------------------------------------------

            $('.btn_save').on('click', function () {
                let save_url = '{{ url_for('save_count', location=location) }}';

                let total_count_id = '.total_count_txt';
                if (this.dataset.location) {
                    total_count_id = ".total_count_" + this.dataset.location;
                    save_url = '{{ url_for('save_count', location='') }}' + this.dataset.location;
                }

                $.ajax({
                    url: save_url,
                    method: 'post',
                    data: {
                        'item_no': '',
                        'correct_count': 0,
                        'defect_count': 0
                    },
                    success: function (data) {
                        if (!data) {
                            data = 0;
                        }
                        $(total_count_id).html(data.total_count);
                    }
                });
            });

            $('.btn_reset').on('click', function () {
                let reset_url = '{{ url_for('reset_count', location=location) }}';

                let total_count_id = '.total_count_txt';
                if (this.dataset.location) {
                    total_count_id = ".total_count_" + this.dataset.location;
                    reset_url = '{{ url_for('reset_count', location='') }}' + this.dataset.location;
                }

                $.ajax({
                    url: reset_url,
                    method: 'get',
                    data: {},
                    success: function (data) {
                        if (!data) {
                            data = 0;
                        }
                        $(total_count_id).html(data.total_count);
                    }
                });
            });

            $('.btn_reset_current').on('click', function () {
                let reset_current_url = '{{ url_for('reset_count_current', location=location) }}';

                let current_count_id = '.current_count_txt';
                if (this.dataset.location) {
                    current_count_id = ".current_count_" + this.dataset.location;
                    reset_current_url = '{{ url_for('reset_count_current', location='') }}' + this.dataset.location;
                }

                $.ajax({
                    url: reset_current_url,
                    method: 'post',
                    data: {
                        'item_no': '',
                        'correct_count': 0,
                        'defect_count': 0
                    },
                    success: function (data) {
                        if (!data) {
                            data = 0;
                        }
                        $(current_count_id).val(data.current_count);
                    }
                });
            });
        });
    </script>
{% endblock %}