{% extends 'base.html' %}

{% block header %}
    <a href="{{ url_for('index') }}" class="text-decoration-none text-body">
        <h1 class="border-bottom pb-1">{% block title %}CVCounter - {{ trans('Reports') }}{% endblock %}</h1>
    </a>
    <nav class="col-12" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">{{ trans('Home') }}</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('reports') }}">{{ trans('Reports') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ trans('Report list') }} {{ location|striptags|title }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row py-3">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans('Location') }}</th>
                    <th scope="col">{{ trans('Total') }}</th>
                    <th scope="col">{{ trans('Source') }}</th>
                    <th scope="col">{{ trans('Defect') }}</th>
                    <th scope="col">{{ trans('Correct') }}</th>
                    <th scope="col">{{ trans('Created') }}</th>
                    <th scope="col">{{ trans('Updated') }}</th>
                    {#{% for field in config.get('form.custom_fields', []).values() %}
                        <th scope="col">{{ trans(field.label) }}</th>
                    {% endfor %}#}
                </tr>
                </thead>
                <tbody>
                {% for v in items %}
                    <tr class="position-relative">
                        <th scope="row">
                            <a href="{{ url_for('report_show', location=v.location, id=v.id) }}" class="stretched-link">{{ v.id }}</a>
                        </th>
                        <td>{{ v.location }}</td>
                        <td>{{ v.total_count }}</td>
                        <td>{{ v.source_count }}</td>
                        <td>{{ v.defects_count }}</td>
                        <td>{{ v.correct_count }}</td>
                        <td>{{ v.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                        <td>{{ v.updated_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>

                        {#{% set custom_fields = json.loads(v.custom_fields) %}
                        {% for field in config.get('form.custom_fields', []).values() %}
                            <td>{{ custom_fields[field.name] }}</td>
                        {% endfor %}#}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ config.get('custom_fields', [])|length + 8 }}" class="text-center">{{ trans('No data') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% with endpoint='report_list', current_page=current_page, total_pages=total_pages, query_params={'location': location} %}
                {% include "partials/pagination.html" %}
            {% endwith %}
        </div>
    </div>
{% endblock %}