{% extends 'base.html' %}

{% block header %}
    <a href="{{ url_for('index') }}" class="text-decoration-none text-body">
        <h1 class="border-bottom pb-1">{% block title %}CVCounter - {{ trans('Reports') }}{% endblock %}</h1>
    </a>
{% endblock %}

{% block content %}
    <div class="row py-3">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ trans('Location') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for k in object_counters %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            <a href="{{ url_for('report_list', location=k) }}">
                                {{ object_counters[k]|striptags|title }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}