{% extends 'base.html' %}

{% block title %}{{ trans('System info') }}{% endblock %}

{% block header %}
    {% with page_title=trans('System info') %}
        {% include 'partials/page_header.html' %}
    {% endwith %}
{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">{{ trans('Home') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ trans('System info') }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    {% include 'partials/inner_page_nav.html' %}

    <div class="page-content">
        <div class="cv-card overflow-hidden">
            <div class="table-responsive">
                <table class="table table-modern mb-0">
                    <thead>
                    <tr>
                        <th scope="col" style="min-width: 12rem">{{ trans('Key') }}</th>
                        <th scope="col">{{ trans('Value') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for k, v in sys_info.items() %}
                        <tr>
                            <th scope="row">{{ trans(k) }}</th>
                            <td>
                                {% if v is mapping %}
                                    <ul class="list-unstyled mb-0">
                                        {% for sub_key, sub_value in v.items() %}
                                            <li class="mb-1">
                                                <span class="text-body-secondary">{{ trans(sub_key) }}:</span>
                                                {{ sub_value | escape }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {{ v }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
