{% extends 'base.html' %}

{% block body_class %}app-body--counter{% endblock %}
{% block shell_class %}app-shell--counter{% endblock %}

{% block title %}{{ title.title() }}{% endblock %}

{% block content %}
    <div class="row counter-layout g-0 h-100 flex-lg-nowrap">
        <div class="col-12 col-lg-8 col-xl-9 counter-layout__main position-relative">
            <div class="img-container">
                <img id="video_feed" class="user-select-none"
                     src="{{ url_for('counters.counter_get_frames', location=location) }}" alt=""/>
                <a href="{{ url_for('counters.counting_area_edit', location=location) }}"
                   class="btn btn-sm btn-dark counting-area-fab shadow"
                   title="{{ trans('Configure counting zone') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-intersect"
                         viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2zm5 10v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1h-2v5a2 2 0 0 1-2 2zm6-8V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2V6a2 2 0 0 1 2-2z"/>
                    </svg>
                    <span class="d-none d-md-inline ms-1">{{ trans('Counting zone') }}</span>
                </a>
            </div>

            <div class="{{ 'd-flex' if is_paused else 'd-none' }} justify-content-center align-items-center pause-display"
                 id="pause_display">
                <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor" class="bi bi-pause"
                     viewBox="0 0 16 16" aria-hidden="true">
                    <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5m4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5"></path>
                </svg>
            </div>
        </div>

        {% include 'partials/counter_sidebar_right.html' %}
    </div>
{% endblock %}

{% block footer_assets %}
    <script src="{{ url_for('static', filename='assets/js/cvcounter-page.js') }}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            CounterPage.init({
                location: {{ location|tojson }},
                isPaused: {{ is_paused|tojson }},
                video: true,
                counts: {{ initial_counts|tojson }},
                urls: {
                    save: {{ url_for('counters.save_count', location=location)|tojson }},
                    reset: {{ url_for('counters.reset_count', location=location)|tojson }},
                    resetCurrent: {{ url_for('counters.reset_count_current', location=location)|tojson }},
                    start: {{ url_for('counters.start_count', location=location)|tojson }},
                    pause: {{ url_for('counters.pause_count', location=location)|tojson }},
                    capture: {{ url_for('counters.save_capture', location=location)|tojson }},
                },
            });
        });
    </script>
{% endblock %}
